<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316632731522-k400duqk8finntigfa6qb857cgqg2bgu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316632731522-k400duqk8finntigfa6qb857cgqg2bgu</string>
	<key>API_KEY</key>
	<string>AIzaSyBj4-zRMfEeejTKL4s0eiloVJHYhw5Ivb0</string>
	<key>GCM_SENDER_ID</key>
	<string>316632731522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CS125.CalorieFriend</string>
	<key>PROJECT_ID</key>
	<string>caloriefriend</string>
	<key>STORAGE_BUCKET</key>
	<string>caloriefriend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:316632731522:ios:196baa9f2c1b1f8a12c99b</string>
</dict>
</plist>
